*.joblib
!modelos/clasificador_proteinas.joblib
!modelos/label_encoder.joblib
!modelos/scaler_manual.joblib
!modelos/feature_info.json
*.pkl
!modelos/pfam_scaler.pkl
!modelos/pfam_encoder.pkl
*.pt
!modelos/pfam_model_5513.pt
__pycache__/
*.pyc
embeddings_cache/
data/
.env
.venv/
*.npy
pfam_data.zip
*_err*.txt
*_log*.txt
config_familias.txt
modelos/feature_info_5513.json
